* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    margin: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}

.letter-box {
    border: 3px solid #CCCCCC;
    width: 45px;
    height: 45px;
    border-radius: 0%;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    pointer-events: none;
}

.color-not-valid {
    background-color: #888888;
}

.color-valid {
    background-color: #016400;
}

.color-wrong-place {
    background-color: #DAA520;
}

.word-block {
    text-align: center;
    margin-bottom: 10px;
}

.warning-border {
    border: 2px solid red; /* Change color as needed */
    transition: border 0.3s ease-in-out;
}